---
import ArticleBody from "@components/ArticleBody.astro";
import NextEvent from "@components/NextEvent.svelte";
import { veranstaltungsQuery } from "@lib/graphql/queries";
import { Seite } from "@lib/links";
import gqlClient from "@lib/utils/gql-client";
import Layout from "src/layouts/Layout.astro";

export async function getStaticPaths() {
  return (await gqlClient.request(veranstaltungsQuery)).veranstaltung.map(
    (e) => {
      return {
        params: { veranstaltung: e.slug },
        props: e,
      };
    }
  );
}

const {
  slug,
  titel,
  datum,
  beschreibung,
  recurring,
  human_readable_interval,
  wiederholung,
  short_description,
} = Astro.props;

const time = new Date(datum).toLocaleTimeString("de-DE", {
  hour: "2-digit",
  minute: "2-digit",
});
---

<Layout
  title={titel ?? "Aktuelles"}
  page={Seite.Aktuelles}
  description={short_description}
>
  <main>
    <h1>{titel}</h1>
    {recurring && <p>{human_readable_interval}</p>}
    <div class="badge badge-primary">
      Nächstes Event:&nbsp;
      <NextEvent
        date={datum!}
        recurring={recurring}
        wiederholungsRule={wiederholung}
      />&nbsp;{time}
    </div>
    <a
      class="btn gap-2 btn-primary"
      href={"/veranstaltung/" + slug + ".ics"}
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="ri-calendar-event-line"></i>Zum Kalender hinzufügen
    </a>
    <ArticleBody
      html={beschreibung ?? "<p>Keine Beschreibung vorhanden.</p>"}
    />
  </main>
</Layout>
