---
import Layout from "@layouts/Layout.astro";
import { Seite } from "@components/header/Header.astro";
import VeranstaltungsCard from "@components/VeranstaltungsCard.astro";
import SectionHeader from "@components/SectionHeader.astro";
import {
  DEFAULT_AUFGABEN_SECTION_LINK,
  MITMACHEN,
  UNDER_CONSTRUCTION,
} from "@lib/links";
import {
  aufgabenQuery,
  startseiteQuery,
  veranstaltungsQuery,
} from "@lib/graphql/queries";
import gqlClient from "@lib/utils/gql-client";
import { getFileUrl } from "@lib/utils/helper";

const { startseite: frontpageData } = await gqlClient.request(startseiteQuery);

const { veranstaltung: veranstaltungen } = await gqlClient.request(
  veranstaltungsQuery
);

const featuredEvent = veranstaltungen[0];

const AUFGABEN_DEFAULT_IMAGE = "/images/kurpark_teich.jpg";

const aufgaben = (await gqlClient.request(aufgabenQuery)).aufgaben
  .filter((e) => frontpageData?.aufgaben?.some((f) => f && f.id === e.id))
  .map((e) => ({
    ...e,
    image_link: e.image ? getFileUrl(e.image!.id) : AUFGABEN_DEFAULT_IMAGE,
  }));
---

<Layout
  title="Startseite"
  page={Seite.Startseite}
  description={frontpageData?.description ?? undefined}
>
  <main>
    <section
      id="heading"
      class="h-screen pt-[15vh] sm:pt-[3vh] relative bg-berglinie bg-no-repeat bg-bottom md:bg-right-top xs:bg-none bg-origin-padding bg-contain md:bg-cover sm:h-min"
    >
      <img
        src="/images/dots.svg"
        class="absolute top-[10vh] right-[30%] sm:hidden z-0"
        aria-hidden="true"
      />
      <img
        src="/images/dots.svg"
        class="absolute top-[48vh] left-[12%] sm:hidden z-0"
        aria-hidden="true"
      />
      <a
        class="absolute bottom-24 justify-center w-full icon-text flex sm:hidden"
        href="#moin"
      >
        <i class="ri-mouse-line mr-2"></i>
        <span class="hover:underline">Scroll weiter</span>
      </a>
      <div
        class="layout-box grid grid-cols-5 gap-12 md:flex md:flex-row md:flex-wrap-reverse md:gap-16 2xl:px-[20%] xl:px-[5%] lg:px-[5%] xs:px-[5%] md:px-[15%] w-full"
      >
        <div
          class="col-span-2 md:col-span-3 md:row-start-2 md:w-full h-full grid grid-rows-4 gap-4 sm:flex sm:flex-col"
        >
          <div class="row-span-3">
            <VeranstaltungsCard
              beschreibung={featuredEvent.beschreibung ??
                "Ups da ist etwas schiefgelaufen."}
              date={featuredEvent.datum}
              featured_image_url={getFileUrl(featuredEvent.featured_image?.id)}
              titel={featuredEvent.titel ?? "Ups da ist etwas schiefgelaufen."}
              slug={featuredEvent.slug ?? "#"}
            />
          </div>
          <a
            class="bg-info drop-shadow-md p-4 rounded-4xl w-full row-span-1 flex items-center sm:text-sm cursor-pointer hover:scale-105 transition-all"
            href={UNDER_CONSTRUCTION}
          >
            <i
              class="ri-flag-line bg-primary text-primary-content rounded-full px-2 py-1 mr-3 text-lg"
            ></i>
            Probleme auf einem Wanderweg melden
          </a>
        </div>
        <div class="col-start-3 col-span-3 md:col-start-1 z-10">
          <h2 class="font-medium text-lg tracking-wide sm:text-base">
            {frontpageData?.subtitle ?? "Ups da ist etwas schiefgelaufen."}
          </h2>
          <h1
            class="font-bold text-5xl leading-tight sm:text-2xl sm:font-semibold"
          >
            {frontpageData?.title ?? "Ups da ist etwas schiefgelaufen."}
          </h1>
          <hr class="border-t-2 border-neutral mt-6" />
          <a href={UNDER_CONSTRUCTION} class="flex flex-row items-center mt-3"
            ><i class="ri-calendar-todo-line mr-2 text-lg"></i><span
              class="hover:underline"
            >
              Veranstaltungen &gt;</span
            >
          </a>
        </div>
      </div>
    </section>

    <section id="moin" class="px-[10%] pb-20 md:px-[4%] md:pt-[20%]">
      <div class="flex flex-row flex-wrap-reverse justify-center">
        <div class="big:basis-1/2 sm:mt-5 min-w-[300px] max-w-[500px]">
          <h2 class="font-semibold text-3xl sm:text-2xl mb-3">
            Glück auf in <span class="text-primary">Hohegeiß...</span>
          </h2>
          <div
            class="text-gray-800 body-text-bigger"
            set:html={frontpageData?.text_part_one}
          />
        </div>
        <div
          class="big:basis-1/2 flex p-10 sm:p-0 items-center justify-center sm:my-10"
        >
          <img
            src="/images/floating-pics-2.png"
            alt="Übereinander lagernde Bilder von Hohegeiß. Auf einem sieht man einen Feldweg unter majästetischen Wolken, auf dem anderen den Teich im Kurpark."
          />
        </div>
      </div>
      <div class="flex flex-row flex-wrap justify-center">
        <div
          class="big:basis-1/2 p-10 sm:p-0 flex items-center justify-center sm:my-10"
        >
          <img
            src="/images/floating-pics-1.png"
            alt="Übereinander lagernde Bilder von Hohegeiß. Auf einem ist der Kirchturm der roten Holzkirche zu sehen, auf dem anderen der Blick Richtung Berge und eine blaue Harzhütte links im Bild."
          />
        </div>
        <div class="big:basis-1/2 min-w-[300px] max-w-[500px]">
          <h2 class="font-semibold text-3xl sm:text-2xl mb-3">
            ...und willkommen beim <span class="text-primary">Harzklub</span>
          </h2>
          <div
            class="text-gray-800 body-text-bigger"
            set:html={frontpageData?.text_part_two}
          />
        </div>
      </div>
    </section>

    <section id="aufgaben" class="bg-base-200 py-20 relative">
      <img
        src="/images/dots.svg"
        class="absolute top-[500px] right-[10%] md:hidden"
        aria-hidden="true"
      />
      <img
        src="/images/dots.svg"
        class="absolute bottom-[40vh] left-[12%] md:hidden"
        aria-hidden="true"
      />

      <h1 class="text-center text-4xl font-semibold">
        Das sind <span class="text-primary">unsere Aufgaben</span>
      </h1>
      <p
        class="font-medium text-center w-2/5 mx-auto leading-5 my-12 sm:w-full sm:px-5"
      >
        {
          frontpageData?.task_section_description ??
            "Ups da ist etwas schiefgelaufen."
        }
      </p>
      <div class="flex flex-row gap-8 px-[10vw] justify-center flex-wrap mt-20">
        {
          aufgaben.map((aufgabe) => (
            <div class="card w-[15vw] bg-base-100 shadow-xl min-w-[260px] sm:w-full sm:basis-1/4 sm:min-w-[80vw]">
              <figure>
                <img
                  src={aufgabe.image_link}
                  alt={aufgabe.image?.description ?? "Bild zu " + aufgabe.title}
                  class="rounded-xl aspect-4/3"
                />
              </figure>
              <div class="card-body items-center text-center">
                <h2 class="card-title">{aufgabe.title}</h2>
                <p>
                  {aufgabe.description ??
                    "Klicke auf den Link um mehr über diesen Aufgabenbereich zu erfahren"}
                </p>
                <div class="card-actions">
                  <a
                    href={aufgabe.link ?? DEFAULT_AUFGABEN_SECTION_LINK}
                    class="btn btn-primary"
                  >
                    Weiterlesen
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <section id="wandern" class="pt-20 relative">
      <img
        src="/images/dots.svg"
        class="absolute top-[80px] left-[30%] md:hidden"
        aria-hidden="true"
      />
      <SectionHeader title="Wandern" subtitle="Egal zu welcher Jahreszeit">
        {
          frontpageData?.wandern_description ??
            "Ups da ist etwas schiefgelaufen."
        }
      </SectionHeader>
      <div
        class="p-[10%] flex flex-row items-center md:flex-wrap md:justify-center md:px-5 mt-16"
      >
        <div
          class="border-dashed border-neutral rounded-md big:border-2 w-1/2 p-16 -mr-[5vw] md:p-3 md:w-full md:rounded-none md:mr-0 md:border-t-2"
        >
          <div class="w-3/4 md:w-full">
            <i class="ri-treasure-map-line text-primary text-5xl md:m-auto"></i>
            <h2 class="font-semibold text-3xl leading-relaxed mb-4">
              {frontpageData?.wandern_title}
            </h2>
            <div
              class="body-text-bigger"
              set:html={frontpageData?.wandern_text}
            />
          </div>
        </div>
        <div class="relative w-3/5 -mt-52 md:mt-5 md:w-full">
          <img
            src="/images/geiss.png"
            alt="Das Wappentier Hohegeiß"
            class="absolute -top-28 rotate-6 right-32 -z-10 md:hidden"
          />
          <img
            src="/images/forest-with-fancy-sky.png"
            alt="Ein Wanderweg durch einen lichten Wald. Die Sonne zeigt über einer Bergkuppe durch golden leuchtende Wolken."
          />
          <a
            href="#"
            class="text-primary font-medium block text-center hover:underline"
            >Erfahre mehr über Wanderungen &gt;</a
          >
        </div>
      </div>
    </section>

    <section id="tradition" class="pb-20 relative md:bg-base-200 md:py-20">
      <img
        src="/images/dots.svg"
        class="absolute top-[620px] left-[15%] md:hidden"
        aria-hidden="true"
      />

      <SectionHeader
        title="Der Harz"
        subtitle="Ein Mittelgebirge mit Tradition"
      >
        {
          frontpageData?.tradition_description ??
            "Ups da ist etwas schiefgelaufen."
        }
      </SectionHeader>
      <div class="flex flex-row justify-center items-center flex-wrap-reverse">
        <div
          class="-mr-32 md:mr-0 md:mt-10 md:px-5 flex flex-col justify-center items-center"
        >
          <img
            src="/images/tradition.png"
            alt="6 Bilder, auf denen Menschen in Harzer-Trachten zu sehen sind."
          />
          <a
            href="#"
            class="text-primary font-medium block text-center hover:underline mt-7"
            >Erfahre mehr über die Heimatgruppe &gt;</a
          >
        </div>
        <div
          class="w-1/5 rounded-md bg-info drop-shadow-lg p-8 mt-20 md:w-full md:mx-5"
        >
          <h3 class="text-xl font-semibold">
            {frontpageData?.tradition_title?.split(" ").slice(0, -1).join(" ")}
            <span class="text-primary"
              >{frontpageData?.tradition_title?.split(" ").pop()}</span
            >
          </h3>
          <div
            class="body-text-smaller"
            set:html={frontpageData?.tradition_text}
          />
        </div>
      </div>
    </section>

    <section class="py-10 relative">
      <img
        src="/images/dots.svg"
        class="absolute top-[150px] left-[31%] rotate-[35deg] md:hidden"
        aria-hidden="true"
      />

      <SectionHeader title="Die Jugend" subtitle="Der Harz wird wieder jung">
        {
          frontpageData?.jugend_description ??
            "Ups da ist etwas schiefgelaufen."
        }
      </SectionHeader>

      <div
        class="p-[10%] flex flex-row items-center mt-20 md:flex-wrap md:justify-center md:p-5 md:mt-0"
      >
        <div
          class="border-dashed border-neutral rounded-md big:border-2 w-1/2 p-16 -mr-[8vw] md:p-3 md:w-full md:rounded-none md:mr-0 md:border-t-2"
        >
          <div class="w-3/4 md:w-full">
            <h2 class="font-bold mb-0 text-3xl">
              <span class="text-primary"
                >{
                  frontpageData?.jugend_title?.split(" ").slice(0, 1).join(" ")
                }</span
              >
              {frontpageData?.jugend_title?.split(" ").slice(1).join(" ")}
            </h2>
            <h3 class="text-xl mt-0 font-semibold mb-6">
              {frontpageData?.jugend_subtitle}
            </h3>
            <div
              class="body-text-bigger"
              set:html={frontpageData?.jugend_text}
            />
          </div>
        </div>
        <div
          class="relative w-3/5 -mt-52 md:mt-5 md:w-full md:flex md:flex-col md:justify-center"
        >
          <img
            src="/images/youth.png"
            alt="Das Bild ist eine Collage aus 3 verschiedenen Bildern. Auf zweien ist eine Gruppe von Kindern zwischen 5 und 11 auf einer Bühne zu sehen. Auf einem tanzen sie, auf dem anderen singen sie. Das dritte Bild zeigt eine Gruppe junger Kinder in Trachten auf einer Treppe sitzend, im Hintergrund sitzt eine erwachsene Person."
          />
          <a
            href="#"
            class="text-primary font-medium block text-center hover:underline -ml-32 md:ml-0"
            >Erfahre mehr über die Jugendarbeit &gt;</a
          >
        </div>
      </div>
    </section>

    <section id="call-to-action" class="bg-primary relative pb-20">
      <div class="w-full h-3 bg-green-300 dark:bg-green-900"></div>
      <div class="w-full h-3 bg-green-400 dark:bg-green-700"></div>
      <div
        class="flex flex-row px-[20%] gap-32 mt-20 items-center md:flex-wrap md:justify-center md:px-5 md:gap-5 md:mt-5"
      >
        <img
          class="shrink-0 aspect-square md:w-1/2 md:max-w-[200px]"
          src="/images/team-icon.svg"
          alt="Ein Icon mit 3 nur mit Umrissen gezeichneten Personen. Die vorderste Person hält ein 'Plus'-Zeichen in den Händen."
        />
        <div>
          <div class="badge badge-secondary">Mitgliedschaft</div>
          <h1 class="text-5xl font-bold mt-5 md:text-3xl text-primary-content">
            {frontpageData?.mitgliedschaft_title}
          </h1>
          <h2 class="text-neutral mb-3 text-xl">
            {frontpageData?.mitgliedschaft_subtitle}
          </h2>
          <div
            class="break-words text-primary-content my-7 max-h-[720px]"
            set:html={frontpageData?.mitgliedschaft_text}
          />
          <a
            href={MITMACHEN}
            class="btn btn-secondary rounded-md filter-none hover:scale-105 transition-all"
            style="color: white; box-shadow: none;">Mehr erfahren &gt;</a
          >
        </div>
      </div>
      <img
        src="/images/filled-geiss-on-mountains.png"
        alt="Der Hohegeisser Geiss steht stilisiert auf einem Berg."
        class="absolute right-0 bottom-0"
      />
    </section>
  </main>

  <script src="node_modules/@material-tailwind/html/scripts/dialog.js"></script>
</Layout>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .body-text-bigger {
      @apply leading-6 font-light tracking-wider;
    }

    .body-text-smaller {
      @apply leading-5 text-sm font-light tracking-wider;
    }
  }

  .body-text-smaller p {
    @apply my-3;
  }
</style>
