---
import { MITMACHEN, UNDER_CONSTRUCTION } from "@lib/links";
import MenuItem from "./MenuItem.astro";
export interface Props {
  currentPage?: Seite;
}

export enum Seite {
  Startseite,
  Aktuelles,
  Heimatgruppe,
  Jugendgruppe,
  Wanderungen,
  DerHarz,
  UeberUns,
}

type SeitenInfo = {
  href: string;
  page: Seite;
  name: string;
};

const pages: Array<SeitenInfo> = [
  { page: Seite.Startseite, href: "/", name: "Startseite" },
  { page: Seite.Aktuelles, href: "/aktuelles", name: "Aktuelles" },
  { page: Seite.Heimatgruppe, href: UNDER_CONSTRUCTION, name: "Heimatgruppe" },
  { page: Seite.Jugendgruppe, href: UNDER_CONSTRUCTION, name: "Jugendgruppe" },
  { page: Seite.Wanderungen, href: UNDER_CONSTRUCTION, name: "Wanderungen" },
  // { page: Seite.DerHarz, href: UNDER_CONSTRUCTION, "/de name: "Der Harz" },
  { page: Seite.UeberUns, href: UNDER_CONSTRUCTION, name: "Über uns" },
];

const { currentPage: page } = Astro.props;
---

<header
  class="fixed w-full top-0 my-0 mx-0 bg-base-100 z-20 py-4 px-10 flex flex-row justify-between items-center md:drop-shadow-md md:py-1 md:px-1"
>
  <a href="/">
    <img
      class="sm:w-3/4"
      src="/new_logo.svg"
      alt="Das Logo der Website. Drei Tannen und rechts daneben der Schriftzug: 'Harzklub Hohegeiß' in zwei Zeilen."
    />
  </a>
  <div class="flex flex-row items-center">
    <div class="flex flex-row items-center md:hidden">
      {
        pages.map((seite) => (
          <div class="mx-2 hover:underline">
            <MenuItem
              href={seite.href}
              currentPage={seite.page == page}
              name={seite.name}
            />
          </div>
        ))
      }
    </div>

    <ul class="menu menu-horizontal big:hidden mr-3">
      <li tabindex="0">
        <a><i class="ri-menu-line text-2xl m-0"></i></a>
        <ul class="bg-base-100">
          {
            pages.map((seite) => (
              <li class="mb-2">
                <MenuItem
                  href={seite.href}
                  currentPage={seite.page === page}
                  name={seite.name}
                />
              </li>
            ))
          }
        </ul>
      </li>
    </ul>
    <a class="btn btn-primary sm:px-3 big:ml-5" href={MITMACHEN}>Mach mit</a>
  </div>
</header>
