---
import { footerQuery } from "@lib/graphql/queries";
import { UNDER_CONSTRUCTION, DOWNLOADS, MITMACHEN } from "@lib/links";
import gqlClient from "@lib/utils/gql-client";

const { footer: footerData } = await gqlClient.request(footerQuery);
---

<footer class="bg-lime-500">
  <div
    class="grid grid-cols-4 gap-24 py-20 px-[15%] md:flex md:flex-col md:gap-6 md:pb-10"
  >
    <div>
      <img
        src="/images/logo-white.svg"
        alt="Das Logo der Website. Drei Tannen und rechts daneben der Schriftzug: 'Harzklub Hohegeiß' in zwei Zeilen."
      />
      <p class="text-secondary-content font-medium my-5 leading-5">
        {footerData?.footer_text}
      </p>
      <div>
        {
          footerData?.footer_social_links?.map((link) => (
            <a
              href={link?.link}
              class="hover:scale-105 transition-all"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i
                class={`${link?.icon} text-secondary-content mr-1 text-xl font-medium`}
              />
            </a>
          ))
        }
      </div>
    </div>
    <div class="col-span-2 flex flex-col flex-wrap h-52 md:h-full">
      {
        footerData?.footer_links
          ?.filter((e) => e?.link && e?.name)
          .sort((a, b) => (a?.sorting ?? 0) - (b?.sorting ?? 0))
          .map((page) => (
            <a
              href={page?.link}
              class="text-secondary-content my-2 hover:underline"
            >
              {page?.name}
            </a>
          ))
      }
    </div>
    <div
      class="flex flex-col h-full justify-evenly w-52 items-stretch md:h-72 sm:w-full sm:max-w-[300px]"
    >
      <div class="relative">
        <img
          src="/images/three-people.svg"
          class="bottom-10 absolute w-2/3 right-10"
          alt="Drei Icons von Menschen, die neugierig über den Button schauen."
        />
        <a
          href={MITMACHEN}
          class="btn btn-primary rounded-md w-full text-center hover:scale-105 transition-all"
          >Mitglied werden &gt;</a
        >
      </div>
      <div class="relative mt-4">
        <img
          src="/images/documents.svg"
          alt="Drei Icons von Dokumenten"
          class="absolute bottom-8 w-2/3 right-10"
        />
        <a
          href={DOWNLOADS}
          class="btn btn-primary text-center rounded-md w-full hover:scale-105 transition-all"
          >Downloadbereich &gt;</a
        >
      </div>
    </div>
  </div>
  <p class="text-secondary-content text-center pb-2 font-normal px-5 leading-5">
    {footerData?.copyright_text}
  </p>
</footer>
