---
import Footer from "@components/Footer.astro";
import type { Seite } from "@components/header/Header.astro";
import Header from "@components/header/Header.astro";
import OrgLogo from "@components/OrgLogo.astro";
import { websiteMetaQuery } from "@lib/graphql/queries";
import gqlClient from "@lib/utils/gql-client";
import { getFileUrl } from "@lib/utils/helper";
import "remixicon/fonts/remixicon.css";

export interface Props {
  title?: string;
  description?: string;
  page?: Seite;
}

const { title, description, page } = Astro.props;

const { meta: websiteMeta } = await gqlClient.request(websiteMetaQuery);

const joinedTitle = title
  ? `${websiteMeta?.title} | ${title}`
  : websiteMeta?.title;
const desc =
  description ??
  (websiteMeta?.description ||
    "Die Website des Harzklub Zweigverein Hohegeiß e.V.");
---

<!DOCTYPE html>
<html lang="de" class="scroll-smooth scroll-p-20">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type={websiteMeta?.favicon?.type}
      href={getFileUrl(websiteMeta?.favicon?.id!)}
    />
    <link rel="stylesheet" href="/styles/fonts.css" />
    <meta name="theme-color" content="#43790D" />
    <meta name="description" content={desc} />
    <title>{joinedTitle}</title>

    <meta property="og:title" content={joinedTitle} />
    <meta property="og:description" content={desc} />
    <meta
      property="og:image"
      content={getFileUrl(websiteMeta?.opengraph_image?.id!)}
    />
    <meta
      property="og:image:alt"
      content={websiteMeta?.opengraph_image?.description ||
        "Bild des Harzklub Zweigverein Hohegeiß e.V."}
    />
  </head>
  <body class="bg-base-100 pt-20">
    <Header currentPage={page} />
    <OrgLogo />
    <slot />
    <Footer />
    <style>
      :global(input),
      :global(textarea),
      :global(button),
      :global(select),
      :global(a),
      :global(html) {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
      }
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer components {
        :global(.body-text-bigger) {
          @apply leading-6 font-light tracking-wider;
        }

        :global(.body-text-smaller) {
          @apply leading-5 text-sm font-light tracking-wider;
        }
      }
    </style>
  </body>
</html>
