---
import type { Seite } from "@components/header/Header.astro";
import Header from "@components/header/Header.astro";
import OrgLogo from "@components/OrgLogo.astro";
import "remixicon/fonts/remixicon.css";
export interface Props {
  title: string;
  description?: string;
  page?: Seite;
}
import { UNDER_CONSTRUCTION, IMPRESSUM } from "src/data/links";

const { title, description, page } = Astro.props;
console.log(page);
---

<!DOCTYPE html>
<html lang="de" class="scroll-smooth scroll-p-20">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/fonts.css" />
    <meta
      name="description"
      content={description ??
        "Die Website des Harzklub Zweigverein Hohegeiß e.V."}
    />
    <title>Harzklub Hohegeiß | {title}</title>
  </head>
  <body class="bg-light-blue pt-20">
    <Header currentPage={page} />
    <OrgLogo />
    <slot />

    <footer class="bg-lime-500">
      <div
        class="grid grid-cols-4 gap-24 py-20 px-[15%] md:flex md:flex-col md:gap-6 md:pb-10"
      >
        <div>
          <img
            src="/images/logo-white.svg"
            alt="Das Logo der Website. Drei Tannen und rechts daneben der Schriftzug: 'Harzklub Hohegeiß' in zwei Zeilen."
          />
          <p class="text-white font-medium my-5 leading-5">
            Pflege und Erhaltung von Harzer Brauchtum, Harzer Liedgut, Harzer
            Festtags- und Arbeitstrachten sowie der Mundart seit 1011.
          </p>
          <div>
            <a href="#"
              ><i class="ri-instagram-line text-white mr-1 text-xl font-medium"
              ></i>
            </a>
            <a href="mailto:info@harzklub-hohegeiss.de"
              ><i class="ri-mail-line text-white mr-1 text-xl font-medium"></i>
            </a>
          </div>
        </div>
        <div class="col-span-2 flex flex-col flex-wrap h-52 md:h-full">
          <a href={UNDER_CONSTRUCTION} class="text-white my-2">Startseite</a>
          <a href={UNDER_CONSTRUCTION} class="text-white my-2">Aktuelles</a>
          <a href={UNDER_CONSTRUCTION} class="text-white my-2">Heimatgruppe</a>
          <a href={UNDER_CONSTRUCTION} class="text-white my-2">Jugendgruppe</a>
          <a href={UNDER_CONSTRUCTION} class="text-white my-2">Wanderungen</a>
          <a href={UNDER_CONSTRUCTION} class="text-white my-2"
            >Wanderwegefinder</a
          >
          <a href={UNDER_CONSTRUCTION} class="text-white my-2"
            >Alle Wanderwege</a
          >
          <a href={UNDER_CONSTRUCTION} class="text-white my-2">Der Harz</a>
          <a href={UNDER_CONSTRUCTION} class="text-white my-2">Über uns</a>
          <a href={UNDER_CONSTRUCTION} class="text-white my-2"
            >Mitglied werden</a
          >
          <a href={IMPRESSUM} class="text-white my-2">Datenschutz</a>
          <a href={IMPRESSUM} class="text-white my-2">Impressum</a>
        </div>
        <div
          class="flex flex-col h-full justify-evenly w-52 items-stretch md:h-72 sm:w-full sm:max-w-[300px]"
        >
          <div class="relative">
            <img
              src="/images/three-people.svg"
              class="bottom-10 absolute w-2/3 right-10"
              alt="Drei Icons von Menschen, die neugierig über den Button schauen."
            />
            <a
              href={UNDER_CONSTRUCTION}
              class="button button-green rounded-md w-full text-center"
              style="color: white; box-shadow: none;">Mitglied werden &gt;</a
            >
          </div>
          <div class="relative">
            <img
              src="/images/documents.svg"
              alt="Drei Icons von Dokumenten"
              class="absolute bottom-8 w-2/3 right-10"
            />
            <a
              href={UNDER_CONSTRUCTION}
              class="button button-green text-center rounded-md w-full"
              style="color: white; box-shadow: none;">Downloadbereich &gt;</a
            >
          </div>
        </div>
      </div>
      <p class="text-white text-center pb-2 font-normal px-5 leading-5">
        Copyright 2023 - Harzklub-Zweigverein-Hohegeiß e.V.
      </p>
    </footer>

    <style>
      :global(input),
      :global(textarea),
      :global(button),
      :global(select),
      :global(a),
      :global(html) {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
      }
      /* :root {
        --font-size-xs: clamp(0.4rem, 0.2vw + 0.55rem, 0.65rem);
        --font-size-small: clamp(0.5rem, 0.2vw + 0.7rem, 0.8rem);
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

        --color-text: #1f1b1b;
        --color-text-i: #f8faff;
        --color-bg: #e5e5e5;
        --color-accent: #43790d;
      }

      html {
        font-family: "Manrope", system-ui, sans-serif;
        font-size: var(--font-size-base);
        color: var(--color-text);
        background-color: var(--color-bg);
      }

      body {
        padding-inline: 20px;
        margin: 0;
      }

      :global(h1) {
        font-size: var(--font-size-xl);
      }

      :global(h2) {
        font-size: var(--font-size-lg);
      }

      :global(code) {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      } */
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer components {
        .icon-text {
          @apply flex flex-row items-center;
        }
      }
    </style>
  </body>
</html>
